################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MapAnnotations/FileContentIndex/3b95bb27-95d1-4e57-9592-f6d9c38a205b.vsidx
